<body>
    <h1>{{ questionnaire.name }}</h1>

    <h2>{{ page.name }}</h2>

    {% if error_message %}
        <p><strong>Error</strong> {{ error_message }}</p>
    {% endif %}

    <form action="{{ url_next }}" method="POST">
    {% csrf_token %}
        {% if questions %}
        <ul>
        {% for question in questions %}
            <li>{{ question.question_text }}</li>
            {% with answers=question.answer_set.all %}
                {% if answers %}
                    {% for answer in answers %}
                        <input type="{{ question.html_type }}" name="{{ question.html_name }}" id="{{ answer.html_id }}" value="{{ answer.id }}"/>
                        <label for="{{ answer.html_id }}">{{ answer.answer_text }}</label>
                        <br/>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
    <input type="submit" value="Submit"/>
    </form>
</body>
